.modal {
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60%;
  height: 60%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}
